.input {
    align-items: center;
    display: flex;
    position: relative;
    width: 95%;

}

.inputBox {
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px black;
    padding: 20px 30px;
    transition: 0.2s;
    font-size: 25px;
    width: 100%;
}

.inputSubmit {
    background-color: #7f52c2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    color: white;
    position: absolute;
    height: 50px;
    margin: 12px;
    right: 0px;
    transition: 0.2s all;
    font-size: 15px;
    width: 150px;
}

.inputSubmit:hover {
    background-color: #9963ee;
}

.inputSubmit:active {
    box-shadow: 0 0 5px black;
    transform: scale(0.9);
}

.toDos {
    background-color: #cfb4ff;
    border-radius: 5px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 29%;
}

.icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;

}

.toDoSingle {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    display: flex;
    padding: 20px;
    margin-top: 15px;
    transition: 0.3s;
    -webkit-backdrop-filter: blur(4px);
}

.toDoSingle:hover {
    transform: scale(1.03);
}

.todoSingleText {
    border: none;
    padding: 5px;
    font-size: 20px;
    flex: 1;
}


.container {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 95%;

}

.toDosHeading {
    color: white;
    font-size: 20px;
}

.doing {
    background-color: orange;
}

.done {
    background-color: #58d54d;
}


@media (max-width: 700px) {
    .input {
        width: 80%;
    }

    .toDos {
        margin-bottom: 10px;
        width: 95%;
    }

    .container {
        flex-direction: column;
        width: 95%;
    }

}
