.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.inputBox {
    width: 100%;
    border-radius: 15px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.inputSubmit {
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 12px;
    border-radius: 15px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #7f52c2;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.inputSubmit:hover{
    background-color: #9963ee;
}

.inputSubmit:active{
    transform: scale(0.9);
    box-shadow: 0 0 5px black;
}

.toDos{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.toDoSingle{
    display: flex;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.todoSingleText{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
